@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Rokkitt', serif;
}

body {
  font-size: 16px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
}

.custom-paginate li {
  @apply py-0;
}

.custom-paginate {
  @apply flex gap-3 mt-12;
}

.positionsCenter {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.affter-no-data {
  @apply absolute w-full h-full left-0 top-0 leading-10 bg-slate-300/50;
}

.custom-paginate li a {
  @apply py-1 px-4 bg-slate-400/20 rounded-md hover:bg-colorShadowItem transition-all ease-in;
}

.input-base {
  @apply border border-borderItemColor bg-transparent h-10 rounded-md pl-3 pr-4 outline-none -mt-1 focus:border-colorPrimary focus:shadow-lg;
}


%flexCenter {
  @apply flex items-center;
}

%btn {
  @apply border border-white text-white text-lg text-center font-medium shadow-lg drop-shadow-lg rounded-full;
  @apply min-w-btn disabled:opacity-60 hover:cursor-pointer z-50 transition-all ease-in;
}

.flexItem {
  @extend %flexCenter;
  &-center {
    @extend %flexCenter;
    @apply justify-center;
  }
  &-between {
    @extend %flexCenter;
    @apply justify-between;
  }
  &-around {
    @extend %flexCenter;
    @apply justify-around;
  }
}

.btn {
  &-primary {
    @apply bg-colorPrimary;
    @extend %btn;
  }
  &-close {
    @apply bg-backgroundReject;
    @extend %btn;
  }
  &-error {
    @apply bg-backgroundColorError;
    @extend %btn;
  }
}












