@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700&display=swap');


html *::-webkit-scrollbar {
  border-radius: 0;
  width: 6px;
  height: 6px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-scroll);

  &:hover {
    @apply cursor-pointer;
  }
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
}

:root {
  --heightHeadingTitle: '80px';
}


div,
span,
ul,
ol,
label {
  font-family: 'Fredoka', sans-serif;
  @apply text-base text-[var(--text-base-color)];
}

body {
  background-color: var(--bg-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Rokkitt', serif;
  @apply text-lg font-medium text-[var(--title-color)];
}

.main {
  &-content {
    @apply w-4/6 mx-auto max-[1580px]:w-5/6 max-2xl:w-5/6 max-xl:w-full max-xl:px-16 max-lg:w-full max-lg:px-7 max-md:px-5 max-[360px]:px-3;
  }
  &-layout-admin {
    @apply w-full m-auto;
  }
}

%btn {
  @apply disabled:opacity-60 shadow-lg min-w-[120px] rounded-full border-[.5px] border-white cursor-pointer text-white leading-10 text-center max-w-xs text-lg font-medium transition-all ease-in drop-shadow-lg hover:cursor-pointer hover:scale-110 z-50;
}

.btn {
  &-primary {
    @apply bg-[var(--primary-color)];
    @extend %btn;
  }

  &-close {
    @apply bg-[var(--bg-color-refuse)];
    @extend %btn;
  }
}

.affter-no-data {
  @apply absolute w-full h-full left-0 top-0 leading-10 bg-slate-300/50;
}

.input-base {
  @apply border border-[var(--border-input-base)] bg-transparent h-10 rounded-md pl-3 pr-4 outline-none -mt-1 focus:border-[var(--primary-color)] focus:shadow-lg;
}

.input-file-custom {
  @apply absolute w-full h-full overflow-hidden after:content-[''] after:absolute after:bg-black after:top-0 after:left-0 after:w-full after:h-full;
}

.text {
  &-heading {
    @apply text-2xl;
  }
  &-title {
    @apply text-[22px];
  }
  &-des {
    @apply text-base;
  }
}

.custom-paginate {
  @apply flex gap-3 mt-12;
  li {
    @apply py-0;
    a {
      @apply py-1 px-4 bg-slate-400/20 rounded-md hover:bg-[var(--shadow-item)] transition-all ease-in;
    }
  }
}

%flexCenter {
  @apply flex items-center;
}

%positionsCenter {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.flexItem {
  @extend %flexCenter;

  &-center {
    @extend %flexCenter;
    @apply justify-center;
  }

  &-between {
    @extend %flexCenter;
    @apply justify-between;
  }

  &-around {
    @extend %flexCenter;
    @apply justify-around;
  }
}

.positionsCenter {
  @extend %positionsCenter;
}

















