:root {
  --color-scroll: #666666;
  --text-base-color: #1d1d1d;
  --title-color: #181818;
  --des-color: #727272;
  --bg-color: #d2e4df42;
  --border-input-base: #5f5f5f31;
  --bg-menu-layout-admin: #13858121;

  --primary-color: #138582f1;
  --bg-color-refuse: #5757578f;

  --bg-modal: #f7f7f7;
  --color-message-error: #ec0000cc;
  --color-field-required: #ff2222f1;

}
